h2{
	margin:10px 0px 0px 5px;
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#4d6012;
	font-weight:bold;
}
.style1{
	margin-top:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#dc8619;
	font-weight:bold;
}
.style2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#4d6012;
	font-weight:bold;
}

a.link1:link, a.link1:visited{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:"Arial", Gadget, sans-serif;
	font-size:24px;
	color:#51290e;
	font-weight:bold;
	text-decoration:none;
}
a.link1:hover, a.link1:active{
	text-decoration:none;
	color:#a00305;
}
.search_form_style{
	margin:0px;
	padding-left:5px;
	width:586px;
	height:35px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#364700;
	font-weight:bold;
	background:#c0c561;
	border:#364700 solid 2px;
	border-radius:10px;
}
.go_but_style{
	margin:0px;
	padding:0px;
	width:31px;
	height:31px;
	background:#f39112;
	border:#364700 solid 2px;
	border-radius:10px;
}
a.go:link, a.go:visited{
	margin:3px 0px 0px 2px;
	padding:3px 0px 0px 0px;
	position:absolute;
	font-family:"Arial", Gadget, sans-serif;
	font-size:20px;
	color:#364700;
	font-weight:bold;
	text-decoration:none;
}
a.go:hover, a.go:active{
	text-decoration:none;
	color:#a00305;
	
}


.box_style{
	margin:0px;
	padding:0px;
	width:985px;
	height:317px;
	background:#b4ba44;
	border:#a2a835 2px solid;
	border-radius:5px;
}
.but1_style{
	margin:0px;
	padding:0px 0px 0px 0px;
	width:154px;
	height:46px;
	background:#b4ba44;
	border:#a2a835 2px solid;
	border-radius:5px;
	text-align:center;
}
a.but1:link, a.but1:visited{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:"Arial", Gadget, sans-serif;
	font-size:24px;
	color:#919729;
	font-weight:bold;
	text-decoration:none;
}
a.but1:hover, a.but1:active{
	text-decoration:none;
	color:#df8318;
	
}
.but2_style{
	margin:0px;
	padding:0px 0px 0px 0px;
	width:154px;
	height:46px;
	background:#a2a835;
	border:#898f25 2px solid;
	border-radius:5px;
	text-align:center;
}
a.but2:link, a.but2:visited{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:"Arial", Gadget, sans-serif;
	font-size:24px;
	color:#46580b;
	font-weight:bold;
	text-decoration:none;
}
a.but2:hover, a.but2:active{
	text-decoration:none;
	color:#df8318;
}
.but3_style{
	margin:0px;
	padding:0px 0px 0px 0px;
	width:154px;
	height:46px;
	background:#fa7924;
	border:#364700 2px solid;
	border-radius:5px;
	text-align:center;
}
a.but3:link, a.but3:visited{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:"Arial", Gadget, sans-serif;
	font-size:24px;
	color:#36410a;
	font-weight:bold;
	text-decoration:none;
}
a.but3:hover, a.but3:active{
	text-decoration:none;
	color:#c0c561;
}
.category_box_style{
	margin:0px;
	padding:0px;
	width:228px;
	height:228px;
	background:#a2a835;
}
.add_style{
	margin:0px;
	padding:0px 0px 0px 0px;
	width:96px;
	height:32px;
	background:#801005;
	border:#6c430e 2px solid;
	border-radius:5px;
	text-align:center;
}
a.add:link, a.add:visited{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	font-family:"Arial", Gadget, sans-serif;
	font-size:24px;
	color:#f39112;
	font-weight:bold;
	text-decoration:none;
}
a.add:hover, a.add:active{
	text-decoration:none;
	color:#c0c561;
}

.rights{
	margin:0px;
	padding-top:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#a2a835;
}