
#top_defaultlinks{
	margin:0px;
	padding-top:8px;
	width:200px;
	height:25px;
	float:left;	
}
#top_defaultlinks ul{
	margin:0px;
	padding:0px;
	width:200px;
}
#top_defaultlinks ul li{
	margin:0px 0px 0px 0px;
	padding:0px 4px 0px 2px;
	display:inline;
}
#top_defaultlinks ul li a:link, #top_defaultlinks ul li a:visited{
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#a2a835;
	font-weight:bold;
	text-decoration:none;
}
#top_defaultlinks ul li a:hover, #top_defaultlinks ul li a:active{
	
	color:#f39112;
	text-decoration:none;
}
<!--Login Links Start-->

#top_loginlinks{
	margin:0px;
	padding:0px;
	width:100px;
	height:30px;
	float:left;

}
#top_loginlinks ul{
	margin-top:2px;
	padding:0px;
	width:100px;
	height:30px;
}
#top_loginlinks ul li{
	margin:0px 0px 0px 0px;
	padding:0px 6px;
	display:inline;
}
#top_loginlinks ul li a:link, #top_loginlinks ul li a:visited{
	margin-left:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#364700;
	font-weight:bold;
	text-decoration:none;
}
#top_loginlinks ul li a:hover, #top_loginlinks ul li a:active{
	margin-left:15px;
	color:#f39112;
	text-decoration:none;
}

<!--Navigation Start-->

#nav{
	margin:0px;
	padding:0px;
	width:677px;
	height:40px;
	float:left;

}

#nav ul{
	margin-top:2px;
	padding-top:5px;
	height:30px;
}
#nav ul li{
	margin:0px 0px 0px 0px;
	padding:0px 6px;
	display:inline;
}
#nav ul li a:link, #nav ul li a:visited{
	margin-left:5px;
	padding:6px 15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#364700;
	font-weight:bold;
	text-decoration:none;
	background:#f39112;
}
#nav ul li a:hover, #nav ul li a:active{
	margin-left:5px;
	padding:5px 14px;
	color:#8f0a05;
	text-decoration:none;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f38d10), to(#d67d1c));
    background: -moz-linear-gradient(#f38d10, #d67d1c);
    background: linear-gradient(#f38d10, #d67d1c);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f38d10, endColorstr=#d67d1c);
	

	/*background-color:#f28c11;*/
	border:#364700 solid 1px;
}
